#Ignore data file due to size
Data/

#Ignore checkpoints and __pycache__
*__pycache__
.ipynb_checkpoints

#Dask workspace
Project_Codes/01_Data_Cleaning/dask-worker-space/

#Personal to do fiile
Project_Codes/01_Data_Cleaning/TO DO.txt

#Ignore pycache
Project_Codes/03_Processing/__pycache__/Text_Processors.cpython-37.pyc
Project_Codes/04_Modeling/__pycache__/Regression_Metrics.cpython-36.pyc